{% extends "blog/base.html" %}
{% block content %}
    <div class="about-section">
  <h1>About Us Page</h1>
  <p>Hi All 🙂.<br>This is an intersting sports page where you can find the regular sports news in and around the world</p>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dinesh Reddy</h2>
        <p class="title">Founder</p>
        <p>This is Dinesh and i was currently studying.I had a interest on sports and out of that interest i had designed a web page </p>
        <p>Mail id:dindinesh438@gmail.com</p>
      </div>
    </div>
  </div>
  {% endblock content %}