{% extends "blog/base.html" %}
{% block content %}
<h2>cricket score updates</h2><br>
<a target="_blank" rel="noopener" href="https://www.cricbuzz.com/ "><i class="fa fa-fw fa-unlock"></i> cricbuzz</a><br>
<a target="_blank" rel="noopener" href="https://www.icc-cricket.com/rankings/mens/team-rankings/test "><i class="fa fa-fw fa-unlock"></i> cricket rankings</a><br>
<a target="_blank" rel="noopener" href="https://www.espn.com/cricket/scores "><i class="fa fa-fw fa-unlock"></i> Espn</a><br>
<h2>Foot Ball score updates</h2><br>
<a target="_blank" rel="noopener" href="https://www.livescore.com/en/ "><i class="fa fa-fw fa-unlock"></i> Live Score</a><br>
{% endblock content %}
